<h1>Weather</h1>


<canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
Your browser does not support the HTML canvas tag.
</canvas>
<div class="forecast-container-dark">

{{#each day}}
<div class= 'day-container-dark'>
<table>
<th>Day: {{this.day}}</th>
    <tr>
        <td>Temperature:</td>
        <td>{{this.t-high}}&deg;F</td>
        <td>{{this.t-avg}}&deg;F</td>
        <td>{{this.t-low}}&deg;F</td>
    </tr> 
        <tr>
        <td>Wind:</td>
        <td>{{this.w-high}} MPH</td>
        <td>{{this.w-avg}} MPH</td>
        <td>{{this.w-low}} MPH</td>
    </tr>                       
</table>
</div>
{{/each}}

</div>

<script src="./weather.js"></script>


